
.dynamic-main-sliders{
    span{
        line-height: 1;
    }
    input{
        width:86%;
    }
}
.pop-header{
    height: 3.5rem;
    border-bottom: 2px solid rgba(251,251,251,.3);
}
.change-slider-value{
    color:#fff;
    font-size: 14px;
}