
/*==============================================================================
***********************  Wrapper Styles For The Site  **************************
==============================================================================*/
.gridly{
    position: relative;
    width: 100%;
    min-height: 600px;
}
.grid-stack{
    position: relative;
    width: 100%;
    min-height: 600px;
    .grid-stack-item{
        min-height: 50px;
    }
}


/*==============================================================================
**************************  Media Styles For The Site  *************************
==============================================================================*/
@media (min-width:$screen-lg){

}
@media (min-width: $screen-md) and (max-width: $screen-md-max) {

}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {

}
@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {
 
}
@media (min-width: $screen-xxs) and (max-width: $screen-xs) {

}