/*
================================================================================
**********************    Select Box Styles For The Site      ******************
================================================================================
*/

.select-box-wrapper {
    height: 50px;
    .select2-container {
        width: 100% !important;
        height: 50px;
        .selection {
            width: 100%;
        }
        .select2-selection--single {
            @include border-radius(0);
            background-color: $dark-grey4;
            color: $light-black2;
            height: 50px;
            .select2-selection__rendered {
                line-height: 50px;
            }
            .select2-selection__arrow {
                height: 50px;
            }
        }
    }
    /*--  Choosen Select Styles  --*/
    .chosen-container-single {
        width: 100% !important;
        .chosen-single {
            @include box-shadow(none);
            @include border-radius(0);
            background: transparent !important;
            border: 0;
            border-bottom: 1px solid #425760;
            span {
                color: $select-option-color;
            }
        }
    }
    .chosen-container {
        .chosen-drop {
            background: #354851;
            color: #8b9fa8;
            border: 0;
        }
        .chosen-results {
            li {
                color: $select-option-color;
                &:hover,
                &:focus {
                    background: #325c80;
                    color: #d6e2e7;
                    border-color: #325c80;
                }
            }
        }
    }
    .chosen-container-active {
        &.chosen-with-drop {
            .chosen-single,
            .chosen-single {
                @include box-shadow(none);
                @include border-radius(0);
                background: transparent !important;
                border: 0;
                border-bottom: 1px solid #425760;
            }
        }
    }
    &.light-blue {
        height: auto;
        /*--  Choosen Select Styles  --*/
        .chosen-container-single {
            width: 100% !important;
            .chosen-single {
                height: 34px;
                line-height: 34px;
                border-bottom: 1px solid #1f77b4;
            }
        }
        .chosen-container-active {
            &.chosen-with-drop {
                .chosen-single,
                .chosen-single {
                    border-bottom: 1px solid #1f77b4;
                }
            }
        }
    }
}

.custom-multiselect-wrapper {
    .multiselect-parent {
        .btn-default {
            @extend .btn-grey;
            @include border-radius(0);
            border: 0;
            &:hover,
            &:focus {
                border: 0;
            }
        }
        .dropdown-menu {
            @include margin(0);
            @include padding(0);
            @include border-radius(0);
            background-color: $select-option-bg;
            position: absolute;
            left: 0;
            top: 25px;
            width: 100%;
            max-height: 350px;
            border: 1px solid $lochmara;
            border-top: 0;
            z-index: 9;
            li {
                @include padding(0);
                background-color: $select-option-bg;
                color: $select-option-color;
                font-size: 11px;
                cursor: pointer;
                text-transform: none;
                border: 0;
                a {
                    @include padding(3px 5px);
                    color: $select-option-color;
                }
                &:disabled {
                    cursor: no-drop;
                    color: $select-option-disabled-color;
                }
                &:hover,
                &:focus {
                    background-color: $lochmara;
                    color: $link-water;
                }
            }
        }
    }
}

.custom-selectbox-wrapper {
    color: #6b8289;
    font-size: 12px;
    font-family: "Roboto Regular", sans-serif;
    display: inline-block;
    background-color: transparent;
    border: 0;
}

/*==============================================================================
**************************  Media Styles For The Site  *************************
==============================================================================*/

@media (min-width:$screen-lg) {}

@media (min-width: $screen-md) and (max-width: $screen-md-max) {}

@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {}

@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {}

@media (min-width: $screen-xxs) and (max-width: $screen-xs) {}