
/*==============================================================================
***********************  Wrapper Styles For The Site  **************************
==============================================================================*/



/*==============================================================================
**************************  Media Styles For The Site  *************************
==============================================================================*/
@media (min-width:$screen-lg){

}
@media (min-width: $screen-md) and (max-width: $screen-md-max) {

}
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {

}
@media (min-width: $screen-xxs) and (max-width: $screen-xs-max) {
 
}
@media (min-width: $screen-xxs) and (max-width: $screen-xs) {

}